/* #region Base */
*:focus {
  outline: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

@media only screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  border: none;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* #endregion */

/* #region Common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
  fill: #f4f4fd;
}

.btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;

  min-width: 165px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .btn:hover,
  .btn:focus {
    background-color: #404bbf;
  }
}

.btn:active {
  background-color: #404bbf;
}

.title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  color: #2e2f42;

  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .subtitle {
    font-weight: 500;
    font-size: 20px;
  }
}
/* #endregion */

/* #region Header */

.header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 1158px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #e7e9fc;
  }
}

@media only screen and (min-width: 768px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header a {
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .header a {
    padding: 24px 0;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .logo-link {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
}

.logo-link .logo-link-header {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
  }
}

.nav-item {
}

.nav-item-link {
  position: relative;
  display: block;
  overflow: hidden;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:active,
.active {
  color: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .nav-item-link:hover,
  .nav-item-link:focus {
    color: #404bbf;
  }
}

.nav-item-link::after {
  content: "";
  position: absolute;

  left: 0px;
  bottom: -1px;

  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover::after,
.nav-item-link:focus::after,
.active::after {
  transform: translate(0%);
}

/* address */

.adress {
  display: none;
}

@media only screen and (min-width: 768px) {
  .adress {
    display: block;
    font-style: normal;
  }
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 1158px) {
  .adress-list {
    gap: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .adress-list {
    flex-direction: row;
  }
}

.adress-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #434455;
}

@media only screen and (min-width: 1158px) {
  .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.adress-item .adress-link {
  padding: 16px 0;
}

@media only screen and (min-width: 1158px) {
  .adress-link:hover,
  .adress-link:focus {
    color: #404bbf;
  }
}

.adress-link:active {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding: 72px 52px;
}

.hero-title {
  max-width: 216px;
  margin: 72px auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin: 112px auto 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 188px auto 48px;
  }
}
.hero-btn {
  padding: 16px 32px;
}

/* #endregion */

/* #region Our Advantages */
.advantages {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-list {
    gap: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
}

.advantages-wrapper {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .advantages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    background-color: #f4f4fd;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-text {
    font-weight: 400px;
  }
}
/* #endregion */

/* #region Our Team */
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .team .container {
    padding: 0 108px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
.team-item {
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.team-name {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: #2e2f42;
}
.team-text {
  margin-bottom: 8px;

  font-weight: 400;

  text-align: center;
  color: #434455;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media only screen and (min-width: 1158px) {
  .socials-link:hover,
  .socials-link:focus {
    background-color: #404bbf;
  }
}

/* #endregion */

/* #region Our Portfolio */
.portfolio {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  line-height: 1.5;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transform: translateY(100%);
}

@media only screen and (min-width: 1158px) {
  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }
}
.portfolio-name {
  padding: 32px 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

/* #endregion */

/* #region Footer */
.footer {
  padding: 96px 0;

  background-color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
  }
}
@media only screen and (min-width: 1158px) {
  .footer .container {
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-wrap {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrap {
    margin-right: 120px;
  }
}

.footer .logo-link {
  display: block;
  text-align: center;

  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer .logo-link {
    text-align: start;
  }
}

.logo-link-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  color: #f4f4fd;
}
@media only screen and (min-width: 1158px) {
  .footer-text {
    font-weight: 500;
    max-width: 264px;
  }
}
.footer-socials {
  margin: 0 auto;
  text-align: center;
  width: 208px;
}
@media only screen and (min-width: 768px) {
  .footer-socials {
    text-align: start;
    margin: 0;
  }
}

.footer-caption {
  margin-bottom: 16px;
  color: #fff;
}

.footer-socials > .socials-list {
  gap: 16px;
}
.socials-link-footer {
  padding: 8px;
}

@media only screen and (min-width: 1158px) {
  .socials-link-footer:hover,
  .socials-link-footer:focus {
    background-color: #31d0aa;
  }
}

.footer-subscribe {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
  }
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .form-subscribe {
    flex-direction: row;
  }
}
.subscribe-label {
  margin-bottom: 0;
}

.subscribe-input {
  width: 264px;
  height: 40px;

  padding-left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;

  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
}

@media only screen and (min-width: 1158px) {
  .subscribe-input {
    opacity: 1;
  }
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}
@media only screen and (min-width: 1158px) {
  .subscribe-input::placeholder {
    opacity: 1;
  }
}
.footer-btn {
  justify-content: center;
  align-items: center;
  height: 40px;
}

.icon-tg {
  fill: #fff;
  margin-left: 16px;
}
/* #endregion */

/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  padding: 72px 16px 24px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;

  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .modal-btn-close:hover,
  .modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
  }
}

.btn-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .modal-btn-close:hover .btn-icon-close,
  .modal-btn-close:focus .btn-icon-close {
    fill: #ffffff;
  }
}

.modal-caption {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-wrap {
  position: relative;
}

.modal-input {
  padding: 8px 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.modal-comment {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  opacity: 0.5;
}

.modal-rules {
  margin-bottom: 24px;
}

.modal-label-rules {
  display: inline;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy:checked + .modal-label > .checkmark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.rules-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin-bottom: 24px;
}
/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu {
  position: fixed;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 72px 16px 40px;

  width: 100%;
  height: 100%;

  background-color: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transform: translateX(100%);
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  margin-bottom: auto;
}

.menu-link {
  padding: 40px 0;
}
.menu-link:active,
.menu-adress-link:active {
  color: #404bbf;
}

.mobile-menu-contacts {
  font-size: 20px;
}
.menu-contacts {
  margin-bottom: 24px;
}
.menu .socials-list {
  justify-content: start;
  gap: 40px;
}
/* #endregion */
